# 语言设置
Language: Cpp
# 基于 Google 风格
BasedOnStyle: Google
# 强制修改缩进为 4 (这是覆盖 Google 默认 2 的关键)
IndentWidth: 4
# 访问修饰符（public/private）的缩进
AccessModifierOffset: -4
# 限制行宽
ColumnLimit: 100
# 允许格式化后的宏对齐（对 Eigen 友好）
AlignConsecutiveMacros: true
# 指针和引用的对齐方式：Left (靠左), Right (靠右), Middle (中间)
PointerAlignment: Left
DerivePointerAlignment: false
QualifierAlignment: Left